/node_modules
/public/hot
/public/js
/public/css
/public/fonts/vendor
/public/storage
/public/js
/public/css
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.yaml
.vagrant/
npm-debug.log
yarn-error.log
.vapor/
.env.production
.env.staging
.env.development
.DS_Store
README.md
dev.nix
.vscode
ssh